# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.env

# Django
media/
staticfiles/

# React
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store